@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  color: var(--color-background);
  background: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
